<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>About Me</h1>
                <h2>
                    I'm a recent Mechatronics Engineering and Managment graduate from
                    McMaster University
                </h2>
                <p>
                    I enjoy working with technology, whether that be hardware,
                    software or the combination of both to solve complex problems. I
                    also have a knack for artistic designs in the form of animations
                    and graphic design. I love working on short animations and using
                    photoshop to create graphic designs. I recently discovered my
                    passion for web development which in my opinion perfectly combines
                    my passion of software and design. In fact, this website was
                    completely created by myself! As far as my other hobbies go I love
                    working out and playing/watching basketball (huge raptors fan
                    here). 
                </p>
            </div>
            <div class="col-md-6">
                <img
                    src="../assets/about_circle.png"
                    alt="about-me-image"
                    class="img-fluid"
                />
            </div>
        </div>
    </div>
</section>
<section> 
    <div class="container">
        <h2>These are the technologies I am comfortable working with:</h2>
        <div class="row">
            <div class="col-3 mb-4"><i class="devicon-html5-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-css3-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-bootstrap-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-javascript-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-python-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-c-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-react-original"></i></div>
            <div class="col-3 mb-4"><i class="devicon-nodejs-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-php-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-mysql-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-git-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-amazonwebservices-original"></i></div>
            <div class="col-3 mb-4"><i class="devicon-angularjs-plain"></i></div>
            <div class="col-3 mb-4"><i class="devicon-typescript-plain"></i></div>
        </div>
    </div>
</section>