.container {
  color: white;
}
.resume {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn {
  display: inline;
}
.btn a {
  color: white;
}
.border-bottom {
  color: white;
}
.row h6,
img {
  margin-bottom: 20px;
}
#education,
#work,
#projects {
  margin-bottom: 50px;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}
.btn-danger.outline {
  color: red;
  border: 2px solid red;
  background: rgba(0, 0, 0, 0.5);
}

.btn-danger:hover {
  background: red;
  color: black;
}

video {
  max-width: 100%;
}

.card-body {
  color: black;
}

.card {
  display: inline-block;
  margin-right: 50px;
}
