.resume {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn {
  display: inline;
}

.row h6,
img {
  margin-bottom: 20px;
}
#education,
#work,
#projects {
  margin-bottom: 50px;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}
.btn-danger.outline {
  color: red;
  border: 2px solid red;
  background: rgba(0, 0, 0, 0.5);
}

.btn-danger:hover {
  background: red;
  color: black;
}

video {
  max-width: 100%;
}

.card {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: white;
  outline: 2px solid white;
}

.btn-primary.outline {
  color: #4dc3ff;
  border: 2px solid #4dc3ff;
  background: rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
  background: #4dc3ff;
  color: black;
}

h5 {
  margin-top: 20px;
}
